/* Assuming this is homePage.css */
.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 600px;
}

.home-main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Adjustments for tablet devices */
@media (max-width: 768px) {
  .home-page-container {
      /* You might want to adjust padding or margins, if necessary */
  }

  .home-main-content {
      /* Ensure content is centered and accessible; potentially adjust padding */
      padding: 20px;
      box-sizing: border-box; /* To include padding in the width calculation */
  }
}

/* Adjustments for mobile devices */
@media (max-width: 480px) {
  .home-page-container {
      min-height: 500px; /* Adjust minimum height for smaller devices */
  }

  .home-main-content {
      /* Adjust layout or spacing for mobile-friendly interaction */
      padding: 15px;
      box-sizing: border-box;
  }
}
