/* Register.css */
.register-container {
    background-color: #f3f4f6; 
    color: #333; 
   
}

.register-form {
    
}

.register-input {
    
}

.register-button {
    background-color: #4a67ff; /* Same button color as login */
    color: white;
    
}
